<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Head Quarter</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="pointer"><a href="insertarcolaborador">Insertar</a></li>
      <li class="pointer"><a href="consultarcolaborador">Consultar</a></li>
	  <li class="pointer"><a href="modificarcolaborador">Modificar</a></li>
      <li class="pointer"><a href="eliminarcolaborador">Eliminar</a></li>
    </ul>
  </div>
</nav>
<div class="container">
	<router-outlet></router-outlet>
</div>

